.calendar {
    width: 500px;
    padding: 1em;
    border: 1px solid;
    border-radius: 5px;
    background: #008c8c;
    color: #fff;
}

.calendar-header {
    text-align: center;
    margin-bottom: 1em;
}

.calendar-header select {
    padding: 0 5px;
    border-radius: 3px;
}

.claendar-title {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    place-items: center;
}

.calendar-content {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    place-items: center;
    grid-row-gap: 15px;
    margin-top: 15px;
}

.calendar-content .gray {
    color: #9c9c9c;
}

.calendar-content .active {
    padding: 5px;
    border-radius: 50%;
    background: #fff;
    color: #008c8c;
}